{% extends 'chat/base.html' %}
{% load bootstrap4 %}
{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        {% for i in obj %}
            <h1 class=""> User name: {{ i.username }}</h1>
            <h3>{{ i.email }}</h3>
            <h4>{{ i.first_name }}</h4>
            <h4>{{ i.last_name }}</h4>
            {% if search_users %}
                {% for val in search_users %}
                    <a href="{% url 'any_user_id' id=val.id %}">{{ val.username }}</a>

                {% endfor %}

            {% endif %}
        {% endfor %}

        <form method="get" class="d-flex container" >
            <label>
                <input class="form-control me-2" name="q" type="text" label="search">
            </label>
            <button class="btn btn-outline-success " type="submit">search</button>
        </form>



        <a type="button" class="btn btn-primary" href="{% url 'logout' %}"> Log-out </a>

    {% else %}
        <div class="container buttons overflow-hidden p-4 col border py 4  ">

        <a class="btn btn-primary " href="{% url 'auth' %}"> Авторизоваться </a>
        <a class="btn btn-primary" href="{% url 'registration' %}"> Зарегистрироваться </a>
        </div>




    {% endif %}
    </div>

{% endblock %}
