{% extends 'chat/base.html' %}
{% load bootstrap4 %}
{% block title %} Profile {% endblock %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        {% for i in obj %}
            <div class="container">
            <div class="row justify-content-md-center ">
            <div class="col-md-auto align-top">
            <h3  > User name: {{ i.username }}</h3>
            </div>
            <div class="col-md-auto align-top">
            <h3>Email-{{ i.email }}</h3>
            </div>
            <div class="col-md-auto">
            <h3>Имя-{{ i.first_name }}</h3>
            </div>
            <div class="col-md-auto">
            <h3>Фамилия - {{ i.last_name }}</h3>
            </div>

            {% if search_users %}
                {% for val in search_users %}
                    <div class="col-md-auto">
                    <a class="row" href="{% url 'any_user_id' id=val.id %}">{{ val.username }}</a>
                    </div>
                {% endfor %}

            {% endif %}
            </div>
            </div>
        {% endfor %}

        <form method="get" class="d-flex container" >
            <label >
                <input class="form-control me-2" name="q" type="text" label="search">
            </label>
            <button class="btn btn-outline-success " type="submit">search</button>
        </form>



        <a type="button" class="btn btn-primary" href="{% url 'logout' %}"> Log-out </a>

    {% else %}
        <div class="container buttons overflow-hidden p-4 col border py 4  ">

        <a class="btn btn-primary " href="{% url 'auth' %}"> Авторизоваться </a>
        <a class="btn btn-primary" href="{% url 'registration' %}"> Зарегистрироваться </a>
        </div>



    {% endif %}
    </div>


{% endblock %}
