{% extends 'chat/base.html' %}
{% load bootstrap4 %}
{% block title %} Registration {% endblock %}

{% block content %}

    <form class="container" method="post">
        <section class="col border py-2">
    {% bootstrap_form form layout='horizontal' %}
    {% csrf_token %}
        {% if form.errors %}
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
        {% endif  %}
    <button class="button" type="submit">Отправить </button>
        </section>
    </form>
{% endblock %}
